.swiper {
  width: 100%;
  height: 550px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-button-next {
  
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    right: 105px;
    color: #FFFFFF;
    opacity: 1;
  }
    @media screen and (min-width: 1440px) {
display: flex;
    right: 105px;
    color: #FFFFFF;
    opacity: 1;
}
  
}
.swiper-button-prev{
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    color: #FFFFFF;
    opacity: 1;
  }
  @media screen and (min-width: 1440px) {
display: flex;
    color: #FFFFFF;
    opacity: 1;
}
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  border-radius: 8px;
  background-color: #d9d9d9; /* Прозорий колір фону */
  opacity: 50%;
  @media screen and (min-width: 768px) {
    width: 40px;
    height: 4px;

    border-radius: 8px;
  }
}

.swiper-pagination {
  text-align: start;
  margin-left: 35px;
  margin-bottom: 65px;
  @media screen and (min-width: 768px) {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
}

.swiper-pagination-bullet-active {
  opacity: 1;
  transform: scale(1.2); /* Збільшення активної точки */
}
