
.swiper {
    width: 100%;
    height: 794px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swiper-button-prev,
  .swiper-button-next {
    right: 105px;
    color: #FFFFFF;
    opacity: 1;
  }
  .swiper-button-prev{
    left: 105px;
  }


  .swiper-pagination-bullet {
    width: 40px;
    height: 4px;
    background-color: #D9D9D9; /* Прозорий колір фону */
    opacity: 50%;
   border-radius:8px;
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    transform: scale(1.2); /* Збільшення активної точки */
  }